body {
    background-color: rgb(236, 235, 235);
}
.card 
{background-color: rgb(255, 248, 240);
border: 8px;}

img {height: 200;
width: 250;
object-fit: cover;}
 
.velikost {height: auto;
width: 550;}

.logo {height: 25px;
width: auto;}

.obrazky img {height: 360px;
    width: 500px;
    object-fit: cover;
}

.obrazky {display: flex;
justify-content: center;
gap: 10px;}